:root {
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #1c1d1f;
    color: #e8e6e3;
}

h2 {
    background-color: #cecece7a;
    color: #100358;
    padding: 8px;
    border-bottom-style: solid;
}

p {
    font-size: small;
}

ul {
    padding-left: 0;
}

li {
    list-style-position: inside;
    font-size: small;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nome-topo {
    background-color: #3d55d87a;
    text-align: center;
    font-size: 1.8rem;
    padding: 8px;
    width: auto;
    color: #100358;
    margin-bottom: 0;
}

.info-header {
    text-align: center;
}

.redes-sociais {
    text-align: center;
}

.redes-sociais li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.redes-sociais a {
    background-color: #c1bebe;
    padding: 16px;
    display: block;
}

.redes-sociais a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
